<div id="footer" class="container">
  <div class="row">
    <div class=".col-md-12">
      <h2>Footer</h2>
    </div>
  </div>
</div>


<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>