<div id="header" class="container">
  <ul id="gn-menu" class="gn-menu-main sv-menu">
    <li class="gn-trigger">
        <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
        <nav class="gn-menu-wrapper">
          <li>Settings</li>
          <li>Help</li>
          <li>Settings</li>
          <li>Help</li>
        </nav>
    </li>
    <li class="logo-emblem"><i class="emblem emblem-40 emblem-white"></i></li>
    </ul>
</div>

