<div id="header" class="container">
  <ul id="gn-menu" class="gn-menu-main">
    <li class="gn-trigger">
        <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
        <nav class="gn-menu-wrapper">
          <li>Settings</a></li>
          <li>Help</a></li>
          <li>Settings</a></li>
          <li>Help</a></li>
          <li>Settings</a></li>
          <li>Help</a></li>
        </nav>
    </li>
    <li> <i class="icon-compass"></i>Shakeventure </li>
    </ul>
</div>

