<<<<<<< HEAD
<<<<<<< HEAD
<div class='experience'>
  
</div>
=======
=======
>>>>>>> alejandro
Hello, shakers!  testing testing</br>


<%=render '/shared/image' %>
<<<<<<< HEAD
>>>>>>> alejandro
=======
=======
<div class='experience'>
  
</div>
>>>>>>> f33a2d31d5197243a0577168490452cd585e51d0
>>>>>>> alejandro
</br>

<%= render '/shared/form' %>

