.experience {
  padding-top: 60px;
  z-index: 1;
}

.em-currency{
  vertical-align: middle;
  padding-bottom: .35em;
  margin-right: 5px;
}

.experience-head {
  
  position: fixed;

  clear: both;
  
  z-index: 3;
  
  left: 0;
  right: 0;

  height: 64px;

  color: #fff;
  background-color: #83c657;
  margin-bottom: 10px;
  overflow: hidden;

  h4{
    line-height: 28px;
    margin: 0;
    margin-left: 1em;
    padding-bottom: 7px;
    font-size: larger;
  }
  h5 {
    margin-top: 6px;
    margin-bottom: 10px;
    margin-right: 1em;
  }
  .exp-pricing {
    ul{
      margin: 0;
      padding: 0;
    }
    li {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  }

}

#imageAndDesc {
    margin-top: 80px;
  }

// #nameContainer {
//   width: 260px;
// }

.gn-menu-main.sv-menu {
  z-index: 1;
  background-color: #83c657;
  font-size: 16px;
  text-align: left;
  i {
    font-size: 20px;
    margin-right: 5px;
  }
  .logo-emblem {
    position: absolute;
    top: 10px;
    left: 46%;
    border: 0;
  }
  .gn-icon-menu {color:#fff;}
  li {
    border: 0;
    
    &:hover a{background-color: #73b647;}
  }
  .gn-menu-wrapper li{
    a{
      background-color: #fff;
      color: #5f6f81;
    }
  }
}

#shakeForm {
  padding: 16px;
  .checkbox input[type="checkbox"]{
    float:right
  }
  .ui-widget-content {
    border: 0;
  }
  .ui-state-default {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 3px solid #fff;
    padding: 12px;
    background: #83c657;
    z-index: 1;
  }
  .ui-corner-all {
    margin-bottom:20px;
    height: 18px;
  }
  .ui-slider-range {
    background: #fff;
  }
  .ui-slider-handle {
    top: -0.4em;
    margin-left: -0.2em;

    &:last-child{margin-left: -1.8em;}
  }
  .filterField .ui-state-default{
    background: #6b6a69;
  }
}
.location {
  margin-top: 30%;
}
.location h4 {
  margin-top: 22%;
  margin: 30px 0;
}
.location-input {
  padding: 10px;
  height: 50px;
}

#category-select {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;

  i{
    font-size: 18px;
    display: inline-block;
    width: 27px;
  }

  .checkbox {
    padding: 10px 16px;
  }
}

.img-rounded {margin-bottom: 15px;}