<div class="container">
  <div class="row">
    <div class=".col-md-12">
      <h1>Hello World</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in euismod nulla. Nulla mollis mollis malesuada. Mauris sit amet enim tempus, dignissim tellus ac, placerat erat. 
      </p>
      <i class="icon-compass" style="font-size: 100px;"></i>
      <h2>Goodbye World</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in euismod nulla. Nulla mollis mollis malesuada. Mauris sit amet enim tempus, dignissim tellus ac, placerat erat. 
      </p>

      <button class="btn">Get Started!</button>
      <button class="btn btn-primary">Shake it like a salt shaker</button>
    </div>

    <div class=".col-md-12">
      <i class="emblem emblem-40 emblem-white"></i>
      <i class="emblem emblem-40 emblem-fog"></i>
      <i class="emblem emblem-40 emblem-gray"></i>
      <i class="emblem emblem-40 emblem-lime"></i>
      <i class="emblem emblem-40 emblem-forest"></i>
      <i class="emblem emblem-40 emblem-charcoal"></i>
      <i class="emblem emblem-136 emblem-white"></i>
      <i class="emblem emblem-136 emblem-gray"></i>
      <i class="emblem emblem-136 emblem-lime"></i>
      <i class="emblem emblem-136 emblem-forest"></i>
      <i class="emblem emblem-136 emblem-charcoal"></i>
    </div>
  </div>
</div>
