<div id="hero-landing" class="container text-center">
  <div class="row">
    <div class=".col-md-12">
      <i class="emblem emblem-136 emblem-charcoal"></i>
      <h1>ShakeVenture</h1>
      <h4>Embrace the Unfamiliar</h4>

      <%= link_to "Adventure Time!", adventure_path, class: "btn btn-success btn-sv" %>
    </div>
  </div>
</div>
